//
// _blog.scss
//

/*********************************/
/*         Blog & News           */
/*===============================*/

.blog {
    @each $name,
    $value in $colors {
        &.blog-#{$name} {
            .title {
                &:hover {
                    color: $value !important;
                }
            }
            .link {
                color: $value !important;
            }
        }
    }
}

.tagcloud {
    > a {
        background: $gray-200;
        color: $dark;
        display: inline-block;
        font-size: 9px;
        letter-spacing: 1px;
        margin: 5px 10px 5px 0;
        padding: 8px 12px 7px;
        text-transform: uppercase;
        transition: all 0.5s ease;
        font-weight: 600;
        &:hover {
            background: $primary;
            color: $white;
        }
    }
}